.main-table {
  width: 100%;
  height: 100%;
}

.table-headers {
  height: 2%;
  width: calc(100% - 20px);
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  font-weight: 700;
  font-size: 0.75rem;
}

.header-text {
  text-decoration: underline;
}

.table-body {
  width: 100%;
  height: 46.6%;
  overflow: scroll;
}

.winner-table {
  height: 98%;
  width: 100%;
}

.table-content {
  background-color: #e0ebe5;
  padding: 10px;
  height: 50px;
  width: calc(100%-20px);
  display: flex;
  font-size: 1.2rem;
  //border-bottom: 1px solid rgba(230, 172, 217, 0.651);
}

.table-content:nth-of-type(2n) {
  background-color: #b8ddd6;
}

.table-content-ranking {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-content-name {
  width: 40%;
  display: flex;
  align-items: center;
}

.table-content-startTime {
  width: 20%;
  display: flex;
  align-items: center;
}

.table-content-finishTime {
  width: 20%;
  display: flex;
  align-items: center;
}

.medal {
  width: 25%;
  height: 120%;
}

.addMargin {
  margin-bottom: 15px;
  border-radius: 5px;
  height: 65px;
  background-color: #fff !important;
  border: 2px double #000c66 !important;
}

// <a href="https://www.freepik.com/vectors/design">Design vector created by bakar015 - www.freepik.com</a>
