.rest-table-body {
  width: 100%;
  height: 54%;
  overflow-y: scroll;
}

.table-content {
  height: 50px;
  display: flex;
  background-color: #e0ebe5;
  font-size: 0.75rem;
}

.table-content:nth-of-type(2n) {
  background-color: #b8ddd6;
}
